<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Lớp học trực tuyến - eClass</title>
<link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="./dist/css/style.css">
<link href="./dist/css/sb-admin-2.min.css" rel="stylesheet">
<link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- jQuery -->
<script src="./vendor/jquery/jquery.min.js"></script>
<!-- socket io -->
<script src="./vendor/socketIO/socket.io.js"></script>
<!-- RTCMultiConnection -->
<script src="./vendor/RTCMultiConnection/RTCMultiConnection.min.js"></script>