<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-lg-8 col-md-8">
                    <img src="./imgs/dhcn_dhqghn.png" alt="" width="100%">
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <ul class="nav in" id="side-menu">
            <li>
                <a href="">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-education"></i> Quản lý lớp học
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/add-new-user">Thêm người dùng</a>
                    </li>
                    <li>
                        <a href="/list">Danh sách người dùng</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->